button {
  display: block;
  width: 100%;
  min-width: 70px;
  height: 50px;
  line-height: 50px;
  border-radius: 30px;
  font-size: 0.8888rem;
  font-weight: 500;
  font-family: Montserrat;
  letter-spacing: -0.015em;
  outline: none !important;
  cursor: pointer;
  transition: 0.3s;
}
button.small {
  height: 40px;
  line-height: 40px;
  font-size: 0.8333rem;
}

button.mobile {
  height: 32px;
  line-height: 32px;
  font-size: 0.8333rem;
}
button.mobile-small {
  height: 26px;
  line-height: 26px;
  font-size: 0.666rem;
}

button.primary-button {
  border: 1px solid #72C546;
  background-color: #72C546;
  color: #fff;
}
button.primary-button:hover {
  border: 1px solid #72C546;
  background-color: #fff;
  color: #72C546;
}

button.outline-primary-button {
  border: 1px solid #72C546;
  background-color: #fff;
  color: #72C546;
}
button.outline-primary-button:hover {
  border: 1px solid #fff;
  background-color: #72C546;
  color: #fff;
}

@media screen and (max-width: 992px) {
  button.primary-button {
    height: 32px;
    line-height: 32px;
    font-size: 0.8333rem;
  }
  button.primary-button:hover {
    border: 1px solid #756EC9;
    background-color: #fff;
    color: #756EC9;
  }
}